							<div class="alert alert-block alert-success" id="alert-success">
								<button type="button" class="close" data-dismiss="alert">
									<i class="icon-remove"></i>
								</button>

								<i class="icon-ok green"></i>

								Welcome to
								<strong class="green">
									Ace
									<small>(v1.1.2)</small>
								</strong>
								,
 							the lightweight, feature-rich and easy to use admin template.
							</div>