<div class="sidebar" id="sidebar">
	<div class="sidebar-shortcuts" id="sidebar-shortcuts">
		<div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
			<button class="btn btn-small btn-success">
				<i class="icon-signal"></i>
			</button>
			<button class="btn btn-small btn-info">
				<i class="icon-pencil"></i>
			</button>
			<button class="btn btn-small btn-warning">
				<i class="icon-group"></i>
			</button>
			<button class="btn btn-small btn-danger">
				<i class="icon-cogs"></i>
			</button>
		</div>
		<div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
			<span class="btn btn-success"></span>
			<span class="btn btn-info"></span>
			<span class="btn btn-warning"></span>
			<span class="btn btn-danger"></span>
		</div>
	</div><!--#sidebar-shortcuts-->
	<ul class="nav nav-list">
		<li class="active">
			<a href="index.html"> <i class="icon-dashboard"></i> <span class="menu-text"> Panel de Control </span> </a>
		</li>
		<li>
			<a href="#" class="dropdown-toggle"> <i class="icon-bookmark"></i> <span class="menu-text"> Páginas</span> <b class="arrow icon-angle-down"></b> </a>
			<ul class="submenu">
				<li>
					<a href="{{path('proyecto_back_page_new')}}"> <i class="icon-double-angle-right"></i> Nueva </a>
				</li>
				<li>
					<a href="{{path('proyecto_back_page_list')}}"> <i class="icon-double-angle-right"></i> Listado </a>
				</li>
				<li>
					<a href="{{path('proyecto_back_page_rank')}}"> <i class="icon-double-angle-right"></i> Orden </a>
				</li>
			</ul>
		</li>
		<li>
			<a href="#" class="dropdown-toggle"> <i class="icon-bookmark-empty"></i> <span class="menu-text"> Artículos </span> <b class="arrow icon-angle-down"></b> </a>
			<ul class="submenu">
				<li>
					<a href="#"> <i class="icon-double-angle-right"></i> Nuevo </a>
				</li>
				<li>
					<a href="#"> <i class="icon-double-angle-right"></i> Listado </a>
				</li>
				<li>
					<a href="#"> <i class="icon-double-angle-right"></i> Orden </a>
				</li>
			</ul>
		</li>
		<li>
			<a href="#" class="dropdown-toggle"> <i class="icon-camera"></i> <span class="menu-text"> Imágenes</span> <b class="arrow icon-angle-down"></b> </a>
			<ul class="submenu">
				<li>
					<a href="#"> <i class="icon-double-angle-right"></i> Nueva </a>
				</li>
				<li>
					<a href="#"> <i class="icon-double-angle-right"></i> Listado </a>
				</li>
			</ul>
		</li>
		<li>
			<a href="#" class="dropdown-toggle"> <i class="icon-book"></i> <span class="menu-text"> Galerías </span> <b class="arrow icon-angle-down"></b> </a>
			<ul class="submenu">
				<li>
					<a href="#"> <i class="icon-double-angle-right"></i> Nueva </a>
				</li>
				<li>
					<a href="#"> <i class="icon-double-angle-right"></i> Listado </a>
				</li>
			</ul>
		</li>
		<li>
			<a href="#" class="dropdown-toggle"> <i class="icon-bullhorn"></i> <span class="menu-text"> Enlaces </span> <b class="arrow icon-angle-down"></b> </a>
			<ul class="submenu">
				<li>
					<a href="#"> <i class="icon-double-angle-right"></i> Nuevo </a>
				</li>
				<li>
					<a href="#"> <i class="icon-double-angle-right"></i> Listado </a>
				</li>
			</ul>
		</li>
		<li>
			<a href="#" class="dropdown-toggle"> <i class="icon-cog"></i> <span class="menu-text"> Configuración </span> <b class="arrow icon-angle-down"></b> </a>
			<ul class="submenu">
				<li>
					<a href="#"> <i class="icon-double-angle-right"></i> Listado </a>
				</li>
			</ul>
		</li>
	</ul><!--/.nav-list-->
	<div class="sidebar-collapse" id="sidebar-collapse">
		<i class="icon-double-angle-left"></i>
	</div>
</div>